docs/
Outputs/
Real/
Example/
Validation/
*.pyc
*.pdf
*.csv
*.pkl
.ipynb_checkpoints/
article/v1.0/Synthetic
article/v2.0/Synthetic
article/v2.0/ComaBer
article/v2.0/Hyades
article/v2.0/BetaPic
article/v2.0/Praesepe
article/v2.0/M62
article/v2.0/Alessi13
article/v2.0/Rup147
article/v2.0/Rup161
article/v2.0/Stock2
article/v2.0/IC4665